.App {
    display: flex;
    justify-content: center;}

.input{
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

.button{
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

.header{
    color: #332be2;
    display: flex;
    justify-content: center;
}
.result {
    display: flex;
    justify-content: center;
    padding: 0.5em;

}